<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meal plan generator</title>
    <link rel="stylesheet" href="/static/skeleton/normalize.css">
    <link rel="stylesheet" href="/static/skeleton/skeleton.css">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="container">
    <section class="header">
<h3 class="title">Meal Plan Generator</h3>

{% for recipe in recipes %}
    {{ recipe }}
{% endfor %}
    <!-- {% for recipe in recipes %}
    <div class="recipe-card">
        <h2>Recipe</h2>
        <p>{{ recipe }}</p>
    </div>
    {% endfor %} -->

    <form method="get">
        <label for="calories">Enter desired calories:</label>
        <input type="text" value="0" id="calories" name="calories">
        <input class="button-primary" type="submit" value="Generate">
        
    
    </form>

    
    
    

</div>
</section>

</body>
</html>
